* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    padding: 15px;
    min-width: 350px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.button_cont {
    margin-top: 20px;
}

.button_cont button {
    padding: 12px;
    border: none;
    border-radius: 25px;
    background: #9a6d0c;
    color: white;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button_cont button:hover {
    background: #d9981f;
    box-shadow: 0 4px 6px rgba(87, 7, 7, 0.2);
}

.button_cont button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(98, 9, 9, 0.2);
}
